<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 
  <div class="container">
    <div class="navbar-header navbar-collapse collapse">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
      <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
        </ul>
    </div>

    
      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="navbar-form navbar-right" (ngSubmit)="login()">
        <div class="form-group">
          <input type="text" placeholder="Username" class="form-control" required name="username" [(ngModel)]="model.username">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" required name="password" [(ngModel)]="model.password">
        </div>
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success">Sign in</button>
      </form>

      <ul *ngIf="loggedIn()" class="nav navbar-nav navbar-right"  >
       <!-- <li><a (click)="logout()">Logout</a></li>-->
        <li class="dropdown" dropdown>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" 
          aria-haspopup="true" aria-expanded="false" dropdownToggle >Welcom {{authService.decodedToken?.unique_name | titlecase}} <span class="caret"></span></a>
          <ul class="dropdown-menu mt-3" *dropdownMenu >
            <li class="dropdown-item" href="#"><i class="fa fa-user"> Edit Profile</i></li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-item" href="#"><i class="fa fa-sign-out" (click)="logout()" > Logout</i></li>
            <!--<a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>-->
          </ul>
        </li>
      </ul>
    <!--/.navbar-collapse -->
  </div>
  
</nav>

